#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
%:
	@/bin/echo "vvvvvvvvvvvvvvvvvvvvvvvv START " $@ "vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv"
	dh  $@
	@/bin/echo "^^^^^^^^^^^^^^^^^^^^^^^^ END" $@ "^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^"

override_dh_builddeb:
	mkdir -p $(DEB_DEBS_DIR)
	dh_builddeb --destdir=$(DEB_DEBS_DIR)

override_dh_auto_configure:
	mkdir -p $(DEB_BUILD_DIR)
	cd $(DEB_BUILD_DIR)
	cmake $(DEB_SOURCE_DIR) -DCMAKE_INSTALL_PREFIX=$(CMAKE_INSTALL_PREFIX)

override_dh_auto_build:
	cd $(DEB_BUILD_DIR)
	make

override_dh_auto_install:
	cd $(DEB_BUILD_DIR)
	DESTDIR=$(DESTDIR) make install
