Source: foo
Section: misc
Priority: extra
Maintainer: Troy Straszheim <straszheim@willowgarage.com>
Build-Depends: debhelper (>= 7), cmake, gcc, make
Standards-Version: 6.1.9
Homepage: <insert the upstream URL, if relevant>

Package: foo
Architecture: any
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
